.loader-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffffb7;
  z-index: 99999;

  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: #004189;
    font-weight: bold;
  }
}
