.active-status {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid #6df472;
  background-color: #6df472;
}

.not-active-status {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid #ff7573;
  background-color: #ff7573;
}

.icon {
  color: #999999;
}
